.main {
  background: #333;
  width: 100vw;
  padding: 20px;
}

.box {
  width: 100%;
  height: 50px;
  border: 1px solid;
  transition: background 100ms ease;
}

.selectable-selectbox {
  cursor: crosshair;
  background: none;
  border: 1px dashed orange;
}
